<footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p class="is-size-7">
          <strong>Twitch API Search Clone</strong>
        </p>
        <p>
          <a class="icon" href="https://github.com/jgthms/bulma">
            <i class="fa fa-github"></i>
          </a>
        </p>
        <p class="is-size-7">
          <a href="https://www.freecodecamp.org/challenges/use-the-twitchtv-json-api">FreeCodeCamp </a> search as you type
          Twitchtv JSON API challenge <br> inspired by examples from <a href="https://www.fullstack.io/">
        fullstack.io</a> and
          <a href="https://angularfirebase.com/"> angularfirebase</a>
        </p>
      </div>
    </div>
  </footer>
