<section class="section main">
  <div class="container">
    <app-header>
    </app-header>
    <app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
    <div *ngIf="loading" class="box">Loading...</div>
    <hr>
    <div class="columns">
      <div class="column is-2">
      </div>
      <div class="column is-8">
        <div class="box">
          <div>
            Results
          </div>
          <app-search-result *ngFor="let result of results" [result]="result">
          </app-search-result>
        </div>
      </div>
      <div class="column is-2">
      </div>
    </div>
  </div>
</section>
