<section class="section main">
  <div class="container">
    <app-header>
    </app-header>
    <app-search-box></app-search-box>
    <div class="box">Loading...</div>
    <hr>
    <div class="columns">
      <div class="column is-2">
      </div>
      <div class="column is-8">
        <div class="box">
          <div>
            Results
          </div>
          <app-search-result>
          </app-search-result>
        </div>
      </div>
      <div class="column is-2">
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
