<div class="box box-tw">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-5">
                    Twitch
                </p>
            </div>
            <div class="level-item">
                <p class="control has-addons">
                    <input type="text" class="form-control" placeholder="Search Channels" autofocus>
                </p>
            </div>
        </div>
        <div class="level-right">
            <p class="level-item">*not official twitch site</p>
        </div>
    </nav>
</div>
