/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
a {
  color: #813e81;
}

.tw {
  color: #813e81;
}

div {
  &.box-tw {
    background: rgba(79, 18, 82, 0.5);
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;
  }
}

footer {
  border-radius: 10px;
}

p.subtitle {
  color: #fff;
}

.header {
  background: url('./assets/twitchlogo.svg') no-repeat center center;
}

input {
  width: 40vw;
}
